*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;

background-image:url("imagens/casal1.jpg");

background-size:cover;

background-position:center;

background-attachment:fixed;

background-repeat:no-repeat;

color:#ffffff;

overflow-x:hidden;

}

.hero{

min-height:100vh;

background-image:url("imagens/casal1.jpg");

background-size:cover;

background-position:center;

background-repeat:no-repeat;

background-attachment:fixed;

display:flex;

justify-content:center;

align-items:center;

}

.overlay{

width:100%;

height:100%;

background:rgba(0,0,0,0.45);

display:flex;

justify-content:center;

align-items:center;

padding:20px;

}

.conteudo{

text-align:center;

max-width:900px;

}

.convite{

color:white;

letter-spacing:4px;

font-size:10px;

margin-bottom:25px;

line-height:300px;
}

h1{

font-family:"Cormorant Garamond",serif;

font-size:50px;

font-weight:300;

color:white;

line-height:40px;

}


h1 span{

display:block;

font-size:40px;

color:#EBC8C8;

margin:10px 0;
}

h1 span{

display:block;

font-size:60px;

color:#ffffff;

margin:10px 0;

}

button{

margin-top:50px;

padding:18px 50px;

font-size:20px;

border:none;

border-radius:50px;

background:#556B2F;

color:white;

cursor:pointer;

transition:.3s;

}

.evento{

padding:100px 20px;

background:rgba(0,0,0,0.45);

}
.container{

max-width:900px;

margin:auto;

text-align:center;

}

.container h2{

font-size: 30px;

font-family:"Cormorant Garamond",serif;

color:#ffffff;

margin-bottom:30px;

}

.card{

background:rgba(255,255,255,0.12);

border:1px solid rgba(255, 255, 255, 0.25);

backdrop-filter:blur(8px);

-webkit-backdrop-filter:blur(8px);

padding:50px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.25);

}

.card h3{

font-size:20px;

margin-bottom:15px;

}

.card h4{

margin-top:25px;

font-size:20px;

}

.card p{

font-size: 12px;

margin:10px;

}

.linha{

width:100px;

height:2px;

background:#EBC8C8;

margin:25px auto;
border:4px solid #fff9f9;

}

.confirmacao{

padding:120px 20px 60px 20px;

text-align:center;

background:rgba(0,0,0,0.45);

}

.confirmacao h2{

font-size:27px;

font-family:"Cormorant Garamond",serif;

color:#ffffff;

margin-bottom:20px;


}

.confirmacao p{

font-size:18px;

margin-bottom:40px;

font-family:"Cormorant Garamond",serif;
}

.botoes{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}

.sim,
.nao{

padding:15px 35px;

font-size:15px;

font-weight:600;

cursor:pointer;

border-radius:40px;

background:rgba(255, 255, 255, 0.043);

backdrop-filter:blur(8px);

-webkit-backdrop-filter:blur(8px);

border:4px solid #5c8612;

color:white;

transition:all .35s ease;

box-shadow:0 8px 20px rgba(0,0,0,.2);

}

.sim{

background:transparent;

color:white;

}

.nao{

background:transparent;
;
}
.sim:hover,.nao:hover{

transform:translateY(-5px) scale(1.03);

background:rgba(85,107,47,0.25);

border-color:#7A9650;

box-shadow:0 15px 30px rgba(0,0,0,.3);

}

#resultado{

margin-top:40px;

font-size:15px;

font-weight:500;

color:#fefffb;

background:transparent;

padding:25px;

border-radius:20px;

max-width:700px;

margin-left:auto;

margin-right:auto;

line-height:1.8;

}

#nomeConvidado{

width:420px;

max-width:90%;

padding:18px;

font-size:13px;

color:white;

background:rgba(255,255,255,0.12);

backdrop-filter:blur(8px);

-webkit-backdrop-filter:blur(8px);

border:3px solid rgba(255,255,255,0.35);

border-radius:50px;

outline:none;

text-align:center;

margin-bottom:35px;

transition:.4s;

box-shadow:0 8px 20px rgba(0,0,0,.2);

}

#nomeConvidado:focus{

background:rgba(255,255,255,0.18);

border-color:#EBC8C8;

box-shadow:0 0 18px rgba(235,200,200,.5);

}

.historia{

max-width:800px;

margin:40px auto;

padding:20px;

text-align:center;

}


.historia p{

font-size:20px;

line-height:1.8;

color:white;

max-width:650px;

margin:auto;

}


.historia{

background-image:url("imagens/casal2.jpg");

background-size:cover;

background-position:center;

background-repeat:no-repeat;

padding:120px 20px;

text-align:center;

position:relative;

}

.historia::before{

content:"";

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(000, 000, 000, 0.45);

}

.historia h2,
.historia p{

position:relative;

z-index:1;

color:white;

}

.historia{

padding:100px 20px;

text-align:center;

background:rgba(000, 000, 000, 0.10);

}
#nomeConvidado::placeholder{

color:rgba(255,255,255,0.8);

font-style:italic;

}

footer{

display:flex;

justify-content:center;

padding:3px 20px;

background:transparent;



margin:0;

width:100%;

text-align:center;

color:white;

font-size:10px;
margin-top:1px;

footer p{

display:inline-block;

padding:18px 40px;

margin:0;

background:rgba(255,255,255,.10);

backdrop-filter:blur(10px);

-webkit-backdrop-filter:blur(10px);

border:1px solid rgba(255,255,255,.25);

border-radius:50px;

color:white;

font-size:5px;

text-align:center;

text-shadow:0 2px 8px rgba(0,0,0,.7);

}
}